zips/
send_to_aviv/
originals/
done/
scripts/
website/backend/__pycache__
website/venv
todo
website/backend/drawer
website/backend/tables_csv/
connect_to_db
server/node_modules
website/.venv
submittion_stuff
user_manual.docx
