.my_profile_navbar {
  background: #3474e6;
  /* color: #fff; */
  /* height: 60px; */
}

.my_profile_navbar .user_name {
  font-size: x-large;
  font-weight: bold;
}
.my_profile_navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_profile_navbar ul {
  display: flex;
}

.my_profile_navbar ul li {
  margin-left: 20px;
}

.my_profile_navbar ul {
  list-style-type: none;
}
.my_profile_navbar li {
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
}

.interactive_section {
  display: flex;
  justify-content: center;
}
.interactive_section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interactive_section ul {
  margin-right: 60px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interactive_section .add_rev {
  margin: 10px;
  width: 170px;
  height: 80px;
}
.interactive_section .add_anime {
  width: 170px;
  height: 80px;
}

.interactive_section .latest_review {
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
  height: 350px;
  overflow: auto;
  text-align: left;
}

.fav_animes_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fav_anime {
  /* background-color: red; */
  border-style: solid;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  /* height: 200px; */
}

.fav_anime img{
  /* background-color: red; */
    height: 300px;
    width: 230px;
  /* height: 200px; */
}

.styled_button {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.styled_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.styled_button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
